<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="top-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <p class="bold text-left">Atencion las 24 horas</p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <p class="bold text-right">Llámanos ahora 931610069</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container navigation">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/vitaneluno.jpeg" alt="" width="150" height="40" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Inicio</a></li>
                <li><a href="#service">Servicio</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Section: intro -->
<section id="intro" class="intro">
    <div class="intro-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                        <h2 class="h-ultra">Vitanell</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                        <h4 class="h-light">¿Para qué sirve el colágeno?</h4>
                    </div>
                    <div class="well well-trans">
                        <div class="wow fadeInRight" data-wow-delay="0.1s">

                            <ul class="lead-list">
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Es
                                            uno de los principales bloques de construcción de huesos, piel, músculos,
                                            tendones y ligamentos.</strong><br />El colágeno también se encuentra en
                                        muchas otras partes del cuerpo, incluidos los vasos sanguíneos, las córneas y
                                        los
                                        dientes.</span></li>
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>El
                                            colágeno se encarga de unir los tejidos conectivos (músculos, tendones,
                                            ligamentos, piel, huesos, cartílagos, tejido
                                            hematológico y adiposo y órganos).</strong><br />Su función consiste en la
                                        formación de las fibras a partir de las que se crean las estructuras del
                                        organismo</span></li>
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>A
                                            medida que pasan los años y el cuerpo envejece, la producción de colágeno se
                                            va reduciendo gradualmente. Se calcula
                                            que a los 40 años el organismo produce la mitad de colágeno que en la
                                            adolescencia</strong><br />Esta reducción en los niveles de producción
                                        provoca, entre otras cosas, la pérdida de elasticidad y flexibilidad de la
                                        piel, dolores en las articulaciones y músculos, osteoporosis, deterioro en la
                                        vista, deficiencias circulatorias,
                                        molestias en dientes y encías, etcétera</span></li>
                            </ul>
                            <p class="text-right wow bounceIn" data-wow-delay="0.4s">
                                <a href="https://www.facebook.com/Vitanell.Llave/"
                                    class="btn btn-skin btn-lg">Mayor informacion al fanpage <i
                                        class="fa fa-angle-right"></i></a>
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <img src="assets/img/dummy/img-1.png" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: intro -->

<!-- Section: boxes -->
<section id="boxes" class="home-section paddingtop-80">

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box text-center">

                        <i class="fa fa-check fa-3x circled bg-skin"></i>
                        <h4 class="h-bold">Entrega a cualquier parte del Peru</h4>
                        <p>
                            Producto 100% Peruano, natural COLAGENO HIDROLIZADO
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box text-center">

                        <i class="fa fa-list-alt fa-3x circled bg-skin"></i>
                        <h4 class="h-bold">Trabaja con nosotros</h4>
                        <p>
                            Conviertete en un proveedor y forma parte de la familia vitanell
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box text-center">
                        <i class="fa fa-user-md fa-3x circled bg-skin"></i>
                        <h4 class="h-bold">Recomendada por expertos</h4>
                        <p>
                            Tenemos que ser concientes de la importancia del colageno en nuestros cuerpo, ofrecemos
                            productos de calidad aprovados por Digesa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box text-center">

                        <i class="fa fa-hospital-o fa-3x circled bg-skin"></i>
                        <h4 class="h-bold">Producto de calidad</h4>
                        <p>
                            Estamos comprometidos con tu salud
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: boxes -->
<section id="callaction" class="home-section paddingtop-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="callaction bg-gray">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="wow fadeInUp" data-wow-delay="0.1s">
                                <div class="cta-text">
                                    <h3>Porque necesitamos el COLAGENO?</h3>
                                    <p>Uno de los productos más destacados es el colágeno con magnesio, que contribuye
                                        al correcto funcionamiento de músculos y
                                        ligamentos. Esto se debe a que el magnesio es un mineral que interviene en el
                                        proceso de formación de las proteínas, por
                                        lo que favorece el efecto del colágeno. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                                <div class="cta-btn">
                                    <a href="https://www.facebook.com/Vitanell.Llave/" class="btn btn-skin btn-lg">Mas informacion al FansPage</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: services -->


<section id="service" class="home-section nopadding paddingtop-60">

    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <img src="assets/img/dummy/img-1.jpg" class="img-responsive" alt="" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3">

                <div class="wow fadeInRight" data-wow-delay="0.1s">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="fa fa-stethoscope fa-3x"></span>
                        </div>
                        <div class="service-desc">
                            <h5 class="h-light">Aprobada por expertos</h5>

                            <p>Recomendado por medicos.</p>
                        </div>
                    </div>
                </div>

                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="fa fa-wheelchair fa-3x"></span>
                        </div>
                        <div class="service-desc">
                            <h5 class="h-light">Pensado para personas PMR</h5>
                            <p>Productos de calidad</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="fa fa-plus-square fa-3x"></span>
                        </div>
                        <div class="service-desc">
                            <h5 class="h-light">Salud</h5>
                            <p>Comprometidos con tu salud</p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-3 col-md-3">

                <div class="wow fadeInRight" data-wow-delay="0.1s">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="fa fa-h-square fa-3x"></span>
                        </div>
                        <div class="service-desc">
                            <h5 class="h-light">Delivery</h5>
                            <p>Te lo entregamos en la puerta de tu casa</p>
                        </div>
                    </div>
                </div>

                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="fa fa-filter fa-3x"></span>
                        </div>
                        <div class="service-desc">
                            <h5 class="h-light">Trabaja con nosotros</h5>

                            <p>Se parte de la familia</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="fa fa-user-md fa-3x"></span>
                        </div>
                        <div class="service-desc">
                            <br>
                            <h5 class="h-light">Mas de 6000 Clientes satisfechos</h5>
                            <p>Pensando en la Salud de los Peruanos</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- /Section: services -->

<section id="partner" class="home-section paddingbot-60">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Vitanell</h2>
                        <p>Comprometidos con tu Salud</p>
                    </div>
                </div>
                <div class="divider-short"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="partner">
                    <a href="#"><img src="assets/img/dummy/partner-1.jpg" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="partner">
                    <a href="#"><img src="assets/img/dummy/partner-2.jpg" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="partner">
                    <a href="#"><img src="assets/img/dummy/partner-3.jpg" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="partner">
                    <a href="#"><img src="assets/img/dummy/partner-4.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>